{% extends "base.html.twig" %}

{% block title %}{{ image.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <img src="{{ mirror }}{{ image.urlbase }}_{{ res }}.jpg" alt="{{ image.name }}" class="img-rounded wallpaper">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-link btn-block" data-toggle="modal" data-target="#about-image">{{ 'download_image'|trans }}</button>
        </div>

        {% if image.vid.sources.1[2] is defined %}
            <div class="col-xs-12">
                <a class="btn btn-link btn-block" href="https:{{ image.vid.sources.1[2] }}">
                    <strong>{{ 'play_video'|trans }}</strong>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                {% for archive in image.archives %}
                    <tr>
                        <td>
                            <a href="/archives/{{ archive.market }}/{{ archive.date }}/"><img class="flag" src="https://cdn.jsdelivr.net/gh/brentybh/homepage-gallery@5f92ffa5957159a5810d70a646ff7e805a98c4dd/assets/images/5bfe46198a0f5.png" alt="{{ archive.market }}">&nbsp;&nbsp;{{ archive.date }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{ archive.link }}"><span lang="{{ archive.market }}">{{ archive.info }}</span></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
    <div class="modal fade" id="about-image" tabindex="-1" role="dialog" aria-labelledby="about-image_label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="about-image_label">{{ 'download_image'|trans }}</h4>
                </div>
                <div class="modal-body" style="padding-bottom: 5px;">
                    <ul>
                        <li>
                            {% if image.wp %}
                                <a href="{{ mirror }}{{ image.urlbase }}_1920x1200.jpg" target="_blank">{{ 'image_sizes.1920x1200'|trans }}</a>
                            {% else %}
                                <strong>{{ 'not_available'|trans }}</strong>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{{ mirror }}{{ image.urlbase }}_1920x1080.jpg" target="_blank">{{ 'image_sizes.1920x1080'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ mirror }}{{ image.urlbase }}_1080x1920.jpg" target="_blank">{{ 'image_sizes.1080x1920'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ mirror }}{{ image.urlbase }}_1366x768.jpg" target="_blank">{{ 'image_sizes.1366x768'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ mirror }}{{ image.urlbase }}_768x1280.jpg" target="_blank">{{ 'image_sizes.768x1280'|trans }}</a>
                        </li>
                    </ul>
                    <small class="text-muted">&copy;&nbsp;{{ image.copyright }}</small>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'close_modal'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
