{% extends "base.html.twig" %}

{% block title %}{{ image.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <img src="{{ image_origin }}{{ image.urlbase }}_{{ image_size }}.jpg" alt="{{ image.name }}" class="img-rounded wallpaper">
        </div>
        <div class="col-xs-12">
            <button type="button" class="btn btn-link btn-block" data-toggle="modal" data-target="#about-image">{{ 'download_image'|trans }}</button>
        </div>
        {% if video_url is not null %}
            <div class="col-xs-12">
                <a class="btn btn-link btn-block" href="{{ video_url }}" target="_blank">
                    <strong>{{ 'play_video'|trans }}</strong>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                {% for record in image.records %}
                    <tr>
                        <td>
                            <a href="{{ path('archive', {market: record.market, date: record.date.get|date(date_format)}) }}">
                                <img class="flag" src="{{ attribute(flags, record.market) }}" alt="{{ record.market }}">
                                {{ record.date.get|date('Y/n/j') }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span lang="{{ record.market }}">
                                {% if record.link is defined %}
                                    <a href="{{ record.link }}" target="_blank" rel="nofollow">
                                        {{ record.description }}
                                    </a>
                                {% else %}
                                    <span class="text-link">{{ record.description }}</span>
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {{ include('_includes/image_modal.html.twig') }}
{% endblock %}
