{% extends "base.html.twig" %}

{% block title %}{{ image.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <img src="{{ mirror }}{{ image.urlbase }}_{{ res }}.jpg" alt="{{ image.name }}"
                 class="img-rounded wallpaper">
        </div>
        <div class="col-xs-12">
            <button type="button" class="btn btn-link btn-block" data-toggle="modal"
                    data-target="#about-image">{{ 'download_image'|trans }}</button>
        </div>
        {% if video is not empty %}
            <div class="col-xs-12">
                <a class="btn btn-link btn-block" href="{{ video }}">
                    <strong>{{ 'play_video'|trans }}</strong>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                {% for archive in image.archives %}
                    <tr>
                        <td>
                            <a href="{{ path('archive', {market: archive.market, date: archive.date}) }}"><img
                                        class="flag" src="{{ attribute(flags, archive.market) }}"
                                        alt="{{ archive.market }}"> {{ archive.date }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{ archive.link }}" target="_blank" rel="nofollow"><span
                                        lang="{{ archive.market }}">{{ archive.info }}</span></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {{ include('_includes/image_modal.html.twig') }}
{% endblock %}
